@charset "UTF-8";

body {
    background-color: rgb(100, 61, 138);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: greenyellow;
}

h1#principal {
    text-align: center;
    background-color: aliceblue;
}

h2 {
    color: aqua;
}
.basico{color: #03e90f
}
.intermediario{color: #cdf00b;}
.avançado{color: #ce0b0b}